{
  "swagger": "2.0",
  "info": {
    "title": "CustomersAPI",
    "description": "A custom connector to retrieve customer data",
    "version": "1.0"
  },
  "host": "subliminalsystems.com",
  "basePath": "/api/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/Customers/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CustomerId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "CustomerId"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Customers",
        "description": "An operation to get customer data",
        "operationId": "GetCustomers",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "LastName,FirstName,CustomerId",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "length(LastName) gt 0",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/Customers({CustomerId})": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Customer",
        "operationId": "GetCustomer",
        "description": "an operation to retrieve a single customer",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}