{
  "swagger": "2.0",
  "info": {
    "title": "Power BI Connector",
    "description": "A custom connector to manage Power BI datasets using the Power BI Service API",
    "version": "1.0"
  },
  "host": "api.powerbi.com",
  "basePath": "/v1.0/myorg/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/groups/{workspaceId}/datasets": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context",
                  "x-ms-summary": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "x-ms-summary": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "x-ms-summary": "name"
                      },
                      "addRowsAPIEnabled": {
                        "type": "boolean",
                        "description": "addRowsAPIEnabled",
                        "x-ms-summary": "addRowsAPIEnabled"
                      },
                      "configuredBy": {
                        "type": "string",
                        "description": "configuredBy",
                        "x-ms-summary": "configuredBy"
                      },
                      "isRefreshable": {
                        "type": "boolean",
                        "description": "isRefreshable",
                        "x-ms-summary": "isRefreshable"
                      },
                      "isEffectiveIdentityRequired": {
                        "type": "boolean",
                        "description": "isEffectiveIdentityRequired",
                        "x-ms-summary": "isEffectiveIdentityRequired"
                      },
                      "isEffectiveIdentityRolesRequired": {
                        "type": "boolean",
                        "description": "isEffectiveIdentityRolesRequired",
                        "x-ms-summary": "isEffectiveIdentityRolesRequired"
                      },
                      "isOnPremGatewayRequired": {
                        "type": "boolean",
                        "description": "isOnPremGatewayRequired",
                        "x-ms-summary": "isOnPremGatewayRequired"
                      }
                    }
                  },
                  "description": "value",
                  "x-ms-summary": "value"
                }
              }
            }
          }
        },
        "summary": "Get Datasets in Workspace",
        "operationId": "GetDatasetsInWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Get Datasets in Workspace"
      }
    },
    "/groups/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context",
                  "x-ms-summary": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count",
                  "x-ms-summary": "@odata.count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "x-ms-summary": "id"
                      },
                      "isReadOnly": {
                        "type": "boolean",
                        "description": "isReadOnly",
                        "x-ms-summary": "isReadOnly"
                      },
                      "isOnDedicatedCapacity": {
                        "type": "boolean",
                        "description": "isOnDedicatedCapacity",
                        "x-ms-summary": "isOnDedicatedCapacity"
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "x-ms-summary": "name"
                      }
                    }
                  },
                  "description": "value",
                  "x-ms-summary": "value"
                }
              }
            }
          }
        },
        "summary": "Get Workspaces",
        "description": "Used to get list of workspaces for currrent user",
        "operationId": "GetWorkspaces",
        "parameters": []
      }
    },
    "/groups/{workspaceId}/datasets/{datasetId}/refreshes": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context",
                  "x-ms-summary": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id",
                        "x-ms-summary": "id"
                      },
                      "refreshType": {
                        "type": "string",
                        "description": "refreshType",
                        "x-ms-summary": "refreshType"
                      },
                      "startTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "startTime",
                        "x-ms-summary": "startTime"
                      },
                      "endTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "endTime",
                        "x-ms-summary": "endTime"
                      },
                      "serviceExceptionJson": {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "code",
                                "x-ms-summary": "code"
                              },
                              "pbi.error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "code",
                                    "x-ms-summary": "code"
                                  },
                                  "details": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "string",
                                          "description": "code",
                                          "x-ms-summary": "code"
                                        },
                                        "detail": {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "type",
                                              "x-ms-summary": "type"
                                            },
                                            "value": {
                                              "type": "string",
                                              "format": "date-time",
                                              "description": "value",
                                              "x-ms-summary": "value"
                                            }
                                          },
                                          "description": "detail",
                                          "x-ms-summary": "detail"
                                        }
                                      }
                                    },
                                    "description": "details",
                                    "x-ms-summary": "details"
                                  },
                                  "exceptionCulprit": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "exceptionCulprit",
                                    "x-ms-summary": "exceptionCulprit"
                                  }
                                },
                                "description": "pbi.error",
                                "x-ms-summary": "pbi.error"
                              }
                            },
                            "description": "error",
                            "x-ms-summary": "error"
                          }
                        },
                        "description": "serviceExceptionJson",
                        "x-ms-summary": "serviceExceptionJson"
                      },
                      "status": {
                        "type": "string",
                        "description": "status",
                        "x-ms-summary": "status"
                      }
                    }
                  },
                  "description": "value",
                  "x-ms-summary": "value"
                }
              }
            }
          }
        },
        "summary": "Get Dataset Refreshes",
        "operationId": "GetDatasetRefreshes",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Get Dataset Refreshes"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }

        },
        "summary": "Refresh Dataset",
        "description": "Refreshes Dataset",
        "operationId": "RefreshDataset",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}